body {
  background-color: white;

  color: black;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 10%;
  height: auto;
  max-width: 150px;

  border-radius: 50%;
}

.profile-name {
  text-align: center;

  padding: 30px;
  font-size: 28px;
}

.links {
  text-align: center;
  margin-top: 20px;
  border: 1px solid red;
  border-width: 2px;
  padding: 20px;

  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-radius: 40px;

  font-size: 18px;
}

a {
  text-decoration: none;

  color: red(128, 98, 0);
  transition: color 1s;
}

a:hover {
  color: black;
  background-color: white;
}
p.newton {
 color: gold;
 font-size: 25px;
 font-family: Arial, Helvetica, sans-serif;
}
p.ingressive {
  width: 50px;
  height: 50px;
  image-resolution: 15px;
}
p.grey {
  color: gray;
  background-color: white;
  text-align: left;
  font-size: large;
}